
<div class='container' data-ng-controller="MainCtrl" data-ng-init="getTable()"> 

  <h1> Hello, {{username}}!</h1>
  <table ng-table class="table">
      <tr ng-repeat="user in network | orderBy:'username'">
          <td class="username-col" data-title="'Username'">{{user.username}}</td>
          <td class="beer-tab-col" data-title="'Tab'">
            <span ng-repeat="n in [] | range:user.tab">
              <i class="fa fa-beer fa-lg" ng-class="{'red': (user.tab<0), 'green': (user.tab>0)}"></i>
            </span>
          </td>
          <td class="pay-btn-col"> 
            <button class="pay-btn" ng-hide="user.tab <= 0" ng-click="sendBeer(user.username)">Got Beer</button>
            <button class="pay-btn" ng-hide="user.tab > 0" ng-click="sendBeer(user.username)">Send Beer</button>
         </td>
      </tr>
  </table>

  <div class="login">
  <dropdown placeholder="Colour..." list="colours" selected="colour" property="name"></dropdown>
  <button class="add-friend-btn" ng-hide="clicked" ng-click="clicked = true; toUser = '';">Add New Friend</button>
    <form ng-submit="sendBeer(toUser)" name="send-beer" novalidate>
      <ul class="ul-list" ng-show="clicked">
        <li class='center'>
           <ui-select ng-model='result.selected' on-select='sendBeer(result.selected.username); toggle()'  theme="bootstrap" ng-disabled="false" reset-search-input="false" uiSelectConfig.appendToBody = true; style="width: 300px;">
              <ui-select-match id='ui-select-container' placeholder="I owe a beer to...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat='user in results|limitTo:10' refresh='findUser($select.search)' refresh-delay='0'>
                <div ng-bind-html='user.name | highlight: $select.search'></div>
              </ui-select-choices>
            </ui=select>
          <!-- <div><input type="text" class="send-beer input" placeholder="I owe a beer to..." ng-model="toUser" ng-minlength="3" ng-maxlength="20" required><span class="icon"><i class="fa fa-user"></i></span></li> -->
        <li><input type="submit" value="SEND BEER" class="btn btn2" ng-disabled="login.$invalid" disabled="disabled" ng-click="clicked = false;"></li>
      </ul>
    </form>
  </div>
</div>
